accelerate
aiofiles
aiohttp
aiosignal
altair
anyio
appdirs
async-timeout
attrs
bitsandbytes
certifi
charset-normalizer
click
contourpy
cpm-kernels
cycler
datasets
dill
docker-pycreds
einops
evaluate
exceptiongroup
fastapi
ffmpy
filelock
fire
fonttools
frozenlist
fsspec
gitdb
GitPython
gradio
gradio-client
h11
httpcore
httpx
huggingface-hub
icetk
idna
importlib-metadata
importlib-resources
Jinja2
jsonschema
kiwisolver
latex2mathml
linkify-it-py
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdit-py-plugins
mdtex2html
mdurl
mpmath
multidict
multiprocess
networkx
numpy
orjson
packaging
pandas
pathtools
peft
Pillow
pkgutil-resolve-name
protobuf
psutil
pyarrow
pydantic
pydub
Pygments
PyMySQL
pyparsing
pyrsistent
python-dateutil
python-multipart
pytz
PyYAML
regex
requests
responses
safetensors
scipy
semantic-version
sentencepiece
sentry-sdk
setproctitle
six
smmap
sniffio
starlette
sympy
termcolor
tiktoken
tokenizers
toolz
torch
torchaudio
torchvision
tqdm
transformers
transformers-stream-generator
typing-extensions
tzdata
uc-micro-py
urllib3
uvicorn
wandb
websockets
xxhash
yarl
zipp
